<!doctype html>
<head>
  <link rel="stylesheet" href="{{'styles.css' | relative_url}}">
  <link href="https://fonts.googleapis.com/css?family=Nunito:600" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159320230-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-159320230-1');
  </script>
</head>
<body>
  <aside>
    <header>
      <a href="{{'/' | relative_url}}"><h1>clangd</h1></a>
      <h2>teach your editor C++</h2>
    </header>
    <nav>{% for entry in site.data.navigation %}
      {% if entry == 'separator' %}
        <hr>
      {% else %}
      <a href="{{entry.url | relative_url}}" class="{%if page.url == entry.url%}selected{%endif%}">
        <span class="icon">{{entry.icon}}</span><span>{{ entry.title }}</span></a>
      {% endif %}
    {% endfor %}</nav>
  </aside>
  <main>
    {{ content }}
  </main>
</body>
