<!doctype html>
<head>
  <link rel="stylesheet" href="{{'styles.css' | relative_url}}">
  <link rel="icon" href="{{'favicon.png' | relative_url}}" sizes="16x16" type="image/png">
  <link rel="icon" href="{{'logo.svg' | relative_url}}" sizes="any" type="image/svg+xml">
  <link href="https://fonts.googleapis.com/css?family=Nunito:600" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159320230-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-159320230-1');
  </script>
</head>
<body>
  <aside>
    <header>
      <h1><a href="{{'/' | relative_url}}">
        <span id="logo-text">clangd</span>
        <img id="logo" src="{{ 'logo.svg' | relative_url }}" alt="">
      </a></h1><h2>teach your editor C++</h2>
    </header>
    <nav>{% for entry in site.data.navigation %}
      {% if entry == 'separator' %}
        <hr>
      {% else %}
      <a href="{{entry.url | relative_url}}" class="{%if page.url contains entry.url%}selected{%endif%} {%if entry.children%}folder{%endif%}">
        <span class="icon">{{entry.icon}}</span><span>{{ entry.title }}</span></a>
        {%if page.url contains entry.url%}
          {% for child in entry.children %}
        <a href="{{child.url | relative_url}}" class="child {%if page.url == child.url%}selected{%endif%}">{{child.title}}</a>
          {% endfor %}
        {%endif%}
      {% endif %}
    {% endfor %}</nav>
  </aside>
  <main>
    {{ content }}
  </main>
</body>
